* {
  font-family: Manrope;
}

.front-page {
  height: 95vh;
  background-color: white;
}

.timeline-title {
  text-align: center;
}

footer {
  background-color: white;
  display: grid;
  grid-template-columns: auto 300px auto;
  bottom: 0px;
  height: 60px;
  position: sticky;
  z-index: -1;
}

footer-text {
  grid-column: 2;
  margin: auto;
}

.timeline-background {
  /*background-image: url("../img/code_programming_symbols_140997_3840x2400.jpg");
  background-size: contain;*/
  border-top: 2px;
  border-bottom: 2px;
  padding-top: 30px;
  border-style: solid none;
  background-color: white;
}

.text-align-center {
  text-align: center;
}
